body {
    background-color: rgb(48, 46, 46);
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(48, 46, 46);
}

.logo img {
    width: 82px;
    height: 50px;
    margin-left: 20px;
}

.search img {
    width: 35px;
    height: 30px;
    margin-right: 20px;
}

/* ===== HERO ===== */
.people {
    background-image: url(../images/background.png);
    height: 84vh;
    background-size: cover;
    background-position: center;
    padding: 7rem;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 130px;
}

.info h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #fff;
    font-size: 60px;   
}

.info p {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    width: 25%;
    color: #fff;
    font-size: 20px;
    margin-top: -20px;  
}

.info a {
    color: #fff;
    width: 200px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(255, 94, 0);
    border-radius: 1px;
}

.info a h2 {
    margin-top: 7px;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
}

.info a:hover {
    background-color: rgb(192, 89, 29);
}

/* ===== DANCE TOUR ===== */
.origin {
    background-color: rgb(255, 94, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.origin h2 {
    color: #fff;
    font-size: 60px;
    font-family:'Oswald', sans-serif;
}

.origin p {
    color: #fff;
    font-size: 20px;
    margin-top: -20px;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    text-align: center;
}

.positions {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.position:hover {
  transform: translateY(-8px);
}

.position img {
    width: 70%;
    height: 70%;
    margin-bottom: -20px;
}

.szs {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(48, 46, 46);
    width: 70%;
    text-align: center;
}

.szs h3 {
    font-size: 30px;
    color: #fff;
    font-family:'Oswald', sans-serif;
}

.szs p {
    font-size: 13px;
    color: #fff;
    margin-top: -20px;
    width: 65%;
}

/* ===== PRICING ===== */
.pricing-section {
    background-color: rgb(48, 46, 46);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem;
}

.pricing-section h2 {
    font-family:'Oswald', sans-serif;
    font-weight: bolder;
    color: #fff;
    font-size: 60px;
    margin-top: -45px;
}

.pricing-section p {
    font-weight: lighter;
    width: 55%;
    color: #fff;
    font-size: 20px;
    margin-top: -20px;  
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.medal-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 40px;
}

/* TARJETAS individuales */
.medal-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 94, 0);
    width: 280px;
    height: 400px;
    gap: 20px;
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.medal-card:hover {
    transform: translateY(-8px);
}

.medal-card img {
    width: 30%;
    height: auto;
}

.medal-card h3 {
    font-family:'Oswald', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    color: #fff;
}

.medal-card p {
    font-size: 14px;
    color: #fff;
}

.button-medal {
    color: #fff;
    width: 200px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(48, 46, 46);
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-medal h3 {
    font-size: 22px;
    font-family:'Oswald', sans-serif;
    font-weight: lighter;
    margin: 0;
}

.button-medal:hover {
    background-color: rgb(80, 76, 76);
}

/* ===== FOOTER ===== */
.footer {
    background-color: rgb(255, 94, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.footer p {
    color: #fff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}
